@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  --primary-color: #3399ff;
  --secondary-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.8em;
  /* min-height: 100vh; */
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: rgb(29, 25, 25);
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 10px;
}

ul {
  list-style: none;
}

p {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #000;
  background: #929292;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: var(--primary-color);
  color: #fff;
}

/* Navbar */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4;
  color: #000;
  opacity: 1;
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
}

#navbar a {
  color: #000;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar nav ul li a:hover {
  border-bottom: #3399ff 2px solid;
}

#navbar ul {
  display: flex;
}

/* Introduction */

.master {
  height: 100vh;
  position: relative;
  color: #fff;
}

.master .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 20px;
  background: url("../img/van-intro.jpg") no-repeat center center/cover;
  z-index: 1;
}

header a span {
  color: var(--primary-color);
}

.master .content h2 {
  text-align: center;
  color: #f4f4f4;
  font-size: 55px;
  padding: 5px 0;
  margin: 10px;
  z-index: 9;
}

.master .content p {
  color: #f4f4f4;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  max-width: 600px;
  margin: 20px 0 30px;
  z-index: 9;
}

.master * {
  z-index: 10;
}

.master::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Home page */

section#home {
  height: 100%;
  width: 100%;
}

.content h2 span {
  color: var(--primary-color);
}

#home > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  margin: 1rem;
  padding: 2rem;
}

#home .description {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  padding: 10px;
  margin-top: 70px;
  gap: 5px;
}

#home .description h3 {
  flex: 1;
  overflow: hidden;
  text-align: center;
}

#home .description p {
  text-align: center;
  flex: 1;
  overflow: hidden;
  padding: 1rem;
}

#home img {
  width: 40%;
  height: 30%;
  border-radius: 500px;
  padding: 0 10px;
  margin-top: 70px;
}

/* Reviews */

#reviews {
  height: 100%;
  width: 100%;
}

section#reviews > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
  margin: 50px;
  max-height: 100%;
}

/* Header */

#reviews header {
  margin-bottom: 10px;
}

#reviews header h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

#reviews header i {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 6em;
  padding: 0.8rem;
  margin: 1.8rem 0 0.5rem 0;
}

/* Flexbox - reviews */
#reviews .reviews {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#reviews .reviews h3 {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#reviews .reviews p {
  padding: 5px;
  margin: 10px;
}

#reviews .reviews div {
  margin: 0px 10px;
}

.reviews .customer_1,
.reviews .customer_2,
.reviews .customer_3,
.reviews .customer_4 {
  flex-basis: 25%;
  flex-grow: 0;
  overflow: hidden;
}

/* Prices */

#prices {
  display: grid;
}

.flags {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flags img {
  margin-top: 70px;
  padding: 20px;
  max-width: 35%;
  height: 260px;
  border-radius: 100px;
}

.uk-content,
.eu-content {
  margin: 10px;
  padding: 5px;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  justify-self: center;
}

#prices .container {
  margin: 0.5rem;
  padding: 0.5rem;
  align-self: center;
  justify-self: center;
}

#prices .container h1,
#prices .container p {
  text-align: center;
}

#prices .container table th,
#prices .container table td {
  padding: 0.4rem;
  text-align: left;
}

#prices .container table {
  table-layout: fixed;
  width: 400px;
}

/* Contact form */

#contact-form {
  margin-top: 70px;
  padding: 10px 30px 30px 30px;
  min-height: calc(100vh - 211px);
}

#contact-form .container {
  padding: 20px;
  margin: 10px 20px 20px 20px;
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

#contact-form .container .heading {
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
}

#contact-form .container .heading span {
  color: var(--primary-color);
}

#contact-form input#btn-form {
  width: 20%;
}

.required {
  color: rgb(255, 0, 0);
}

#contact-form .form-progress {
  justify-self: center;
  justify-content: center;
  margin: 20px;
  margin-top: 100px;
  padding: auto;
}

#contact-form .form-progress h2 {
  text-align: center;
}

#contact-form .form-progress p {
  text-align: center;
}

/* Terms */

#terms .container {
  margin-top: 80px;
}

#terms .container .wrap {
  padding: 20px;
  margin: 20px;
}

#terms .container .wrap .conditions {
  margin: 5px;
  padding: 5px;
  text-align: center;
  font-size: 25px;
}

#terms ul {
  padding: 5px 20px 20px 20px;
  margin: 5px 20px 20px 20px;
  margin-left: 15px;
  padding-left: 20px;
}

#terms li {
  padding: 10px;
  margin: 10px;
  text-align: left;
  font-family: "Open Sans", sans-serif, sans-serif;
  font-size: 16px;
  text-indent: -5px;
}

#terms ul.master-list ul.nest-list {
  margin: 0px;
  padding: 0px;
}

#terms ul.master-list ul.nest-list li {
  margin: 5px;
  padding: 5px;
}

.bold-text {
  font-weight: bold;
}

#terms ul.master-list {
  list-style-type: decimal;
}

/* Footer */
footer {
  background: var(--primary-color);
  width: 100%;
  bottom: 0;
}

footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
}

footer .footer-info {
  color: #000;
  padding: 0 30px;
}

footer .footer-info .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer .icons-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px 0 0 0;
}

footer .copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

footer .copyright h2 {
  margin: 5px;
  padding: 5px;
  text-align: center;

  width: 100%;
  font-size: 12px;
}

footer .footer-info .icons-text i {
  font-size: 20px;
  text-align: center;
}

footer .footer-info a {
  text-align: center;
  font-size: 1.3rem;
  padding: 2px;
  margin: 5px;
}

footer .footer-info a:hover {
  color: var(--secondary-color);
}

footer .footer-info .connect {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
}
